@import url('https://fonts.cdnfonts.com/css/satoshi?styles=135009,135005,135007,135002,135000');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Satoshi', sans-serif;  
  background-color: #121B27;
  color: white;                                              
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
